/* Add your styling here */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

header {
    background-color: #4CAF50;
    color: white;
    padding: 2rem;
    text-align: center;
}

main {
    padding: 2rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

svg {
    border: solid lightgrey;
}
.center{
    margin: auto;
  width: 50%;
  border: 3px solid green;
  padding: 10px;
}
h1{
    text-align: center;
}
h2{
    text-align: center;
}

#canvas{
    position: absolute;
    border: 2cap, solid, black;
}